.toptext {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.topdiv {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  max-width: 95%;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Serif;
  /* overflow-x: hidden;   */
}

 .nav {
   height: 50px;
   width: 100%;
   background-color:transparent;
   padding-top: 10px;
   padding-right: 40px;
   position: fixed;
   margin-right:2rem;
 }
 
 .nav > .nav-header {
   display: inline;
 }
 
 .nav > .nav-header > .nav-title {
   display: inline-block;
   font-size: 2px;
   color: #fff;
   padding: 10px 10px 10px 10px;
 }
 
 .nav > .nav-btn {
   display: none;
 }
 
 .nav > .nav-links {
   display: inline;
   float: right;
   font-size: 18px;
 }
 
 .nav > .nav-links > a {
   display: inline-block;
   padding: 13px 10px 13px 10px;
   text-decoration: none;
   color: #efefef;
 }
 
 .nav > .nav-links > a:hover {
   background-color: rgba(0, 0, 0, 0.3);
 }
 
 .nav > #nav-check {
   display: none;
 }
 
 @media (max-width:700px) {
   .nav > .nav-btn {
     display: inline-block;
     position: absolute;
     right: 80px;
     top: 0px;
   }
   
   .nav > .nav-btn > label {
     display: inline-block;
     width: 50px;
     height: 50px;
     padding: 13px;
   }
   .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
     background-color: rgba(0, 0, 0, 0.3);
   }
   .nav > .nav-btn > label > span {
     display: block;
     width: 25px;
     height: 10px;
     border-top: 2px solid #eee;
   }
   .nav > .nav-links {
     position: fixed; left: 560px;
     display: block;
     width: 100%;
     background-color:#333;
     height: 0px;
     transition: all 0.3s ease-in;
     overflow-y: hidden;
     top: 50px;
     left: 0px;
   }
   .nav > .nav-links > a {
     display: block;
     width: 100%;
   }
   .nav > #nav-check:not(:checked) ~ .nav-links {
     height: 0px;
   }
   .nav > #nav-check:checked ~ .nav-links {
     height: 35vh;
     overflow-y: auto;
     background-color: transparent;
   }
 }

.home {
  height: 100vh;
  width: 100%;

}

.text {
  text-align: right;
  padding: 40px 80px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
  
}

.photo{
  overflow-x: hidden;
}

.photo img {
  position: relative;
  left: 70px;
  height: 490px;
  width: 500px;
}


.naam {

  display: flex;
  position: absolute;
  top: 100px;
  font-style: italic;
  /* padding-left: 2rem; */
  margin-left: 1rem;
  
}

.newone {
  background-color: #333;
  width: 90vw;
  border-radius: 50px;
  margin: 20px;
  text-size-adjust: 100px;
  height: auto;
  padding-left: 2rem;
  z-index: -1;
}

.headingoffirst {

  color: white;
  font-family: raleway;
  font-size: 20px;
}

.effectofcolor {
  color: yellow;
}

.secondnaam {
  font-family: Serif/sans serif hybrid;
}

.nav-custom {
  background-color: white;
}


.marr {
  position: absolute;
  left: 530px;
  top: 100px;
  color: white;
  font-size: 15px;
  font-family: Poppins, sans-serif;
  ;
}

.headingka1 {
  color: white;
  font-family: poppins, sans-serif;
}

.tag{
  justify-content: center;
}

.procon{
  position: relative;
  top: 1240px;
  text-align: center;
  color: white;
  height: auto;
  width: auto;
  
}


.ser{

  position: relative; 
  top: 1280px;
  display: flex;
  height: auto;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: row;
  gap: 20px;
  padding: 30px;
  color:white;
  background:black;
  font-family: "poppins";
  border-radius: 50px;
  margin-left:2rem;
  z-index: -1; 
}

.card{
 
 bottom: 250px;
  height: auto;
  width: 300px;
  display: grid;
  justify-content: space-evenly;
  
  gap: 10px;
  order: 2;
  margin: 0 auto;
  border-radius: 6px;
  padding: 30px;
  background:black;
}
.container1:hover{
  box-shadow: 0 12px 16px 0 blue;
}
.container:hover{
  box-shadow: 0 12px 16px 0 blue;
}


.pro2{
  position: relative;
  top: 1620px;
  text-align: center;
  color: white;
  
}


.pro{

  position: relative; 
  top: 1620px;
  /* left: 400px; */
  display: flex;
  justify-content:space-evenly ;
  height: auto;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: row;
  background: #333;
  gap: 20px;
  padding: 30px;
  color:white;
  margin:1rem 1rem 0 2.0rem;
  font-family: "poppins";
  border-radius: 50px;
 
}


.card1 img{
  height:300px;
  width: 320px;
}

.card{
 
  height: auto;
  width: 300px;
  display: grid;
  justify-content:space-around;
  
  gap: 10px;
  order: 2;
  margin: 0 auto;
  border-radius: 6px;
  padding: 30px;
  background:black;
}





/* about section image css */
.imageAboutPage {
  width: 100%;
}


.about {
  position: absolute;
  top: 3100px;
  height: auto;
  width: 90vw;
  margin:0 2rem 0 2rem;
}

.aboutkasection {
  display: flex;
  position: relative;
  /* left: 25px; */
  background-color: #333;
  border-radius: 50px;
  width: 94vw;
  height: auto;
}
.aboutkasection img{
  height: 300px;
  border-radius: 25%;
  justify-content: flex-start;
  padding: 40px;
 
}

.textofaboutsec{
  display: flex;
  text-align:center;
  padding-top: 70px;
  color: white;
  
}


.container12 {
  color: white;
  padding: 20px;
}

.contactwala .container12 .name .email {
  height: 1000px;
  width: 500px;
  padding: 20px;
}

.email {

  cursor: pointer;
  background-color: white;
  color: white;
  padding: 0.7rem;
  border-radius: 0.5rem;
}


.emailka {

  font-size: 40px;
  color: bisque;
}

.headlineofser {
  color: white;
  font-size: 40px;
}





.media-icons a {
  color: #fff;
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}

.media-icons a:hover {
  color: #eb2f06;
}





@media screen and (max-width: 700px) {
  .topdiv {
    margin: 20px;
    flex-direction: column;
    width: 400px;
  }

  .newone {
    height: auto;
    margin-right: -2rem;
   
  }
 

}






@media screen and (max-width:700px){
  .ser{
    margin-top: 6rem;
    flex-direction: column;
    margin-right: -100%;
    
  }
  .container1{
    flex-direction: column;
  }
  .card23{
    flex-direction: column;
  }
}

@media screen and (max-width: 700px){
  .pro {
    display: flex;
    flex-direction: column;
    /* left: 50px; */
   
  }
  
}
  
@media screen and (max-width: 700px){
  .about .aboutkasection{
    flex-direction: column;
 
  }
  .aboutkasection img{
    height: 540px;
  }
 
}

  
@media screen and (max-width: 300px){
  .nav{
   flex-direction: column;
  }
}
